@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Proto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

/* .main-font {
  font-family: "Times New Roman", serif;
  font-weight: 600;
  font-style: normal;
} */
@media (max-width: 640px) {
  a.active {
    background-color: rgba(82, 71, 32, 0.982);
    color: white;
  }
}

::-webkit-scrollbar {
  display: none;
}

.no-arrow::-webkit-inner-spin-button,
.no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrow {
  -moz-appearance: textfield;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}
.flash {
  animation: flash 1s infinite;
}
